*.jpg
*.jpeg
*.pdf
*.zip
*.pkl
*.pyc
*.png

SRGAN/ESRGAN.ipynb
SRGAN/Backups/
SRGAN/.ipynb_checkpoints/
SRGAN/Pickles/
SRGAN/data_loader - Copy.py

!SRGAN/datasets/img_align_celeba/024324.jpg
!SRGAN/datasets/img_align_celeba/130428.jpg
!SRGAN/datasets/img_align_celeba/130526.jpg
!SRGAN/datasets/img_align_celeba/130779.jpg
!SRGAN/datasets/img_align_celeba/130869.jpg

Pix2Pix/.ipynb_checkpoints/
Pix2Pix/Colab-HumanGeneratorNotebook.ipynb
Pix2Pix/logs/fit/
Pix2Pix/generated_images
Pix2Pix/generatorX.h5
Pix2Pix/saved_model/
Pix2Pix/*.h5

!Pix2Pix/example_images_streamlit/example_handbag1.jpg
!Pix2Pix/example_images_streamlit/example_handbag2.jpg
!Pix2Pix/example_images_streamlit/example_handbag3.jpg
!Pix2Pix/example_images_streamlit/example_handbag4.jpg
!Pix2Pix/example_images_streamlit/example_handbag5.jpg
!Pix2Pix/example_images_streamlit/example_human1.jpg
!Pix2Pix/example_images_streamlit/example_human2.jpg
!Pix2Pix/example_images_streamlit/example_human3.jpg
!Pix2Pix/example_images_streamlit/example_human4.jpg
!Pix2Pix/example_images_streamlit/example_human5.jpg
!Pix2Pix/example_images_streamlit/example_shoe1.jpg
!Pix2Pix/example_images_streamlit/example_shoe2.jpg
!Pix2Pix/example_images_streamlit/example_shoe3.jpg
!Pix2Pix/example_images_streamlit/example_shoe4.jpg
!Pix2Pix/example_images_streamlit/example_shoe5.jpg
SRGAN/.ipynb_checkpoints/SRGAN-checkpoint.ipynb

NumGen/*.h5
NumGen/.ipynb_checkpoints/